<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"></meta>
<style type="text/css">
.table th, .table td {
	text-align: center;
	vertical-align: middle !important;
	max-width: 300px;
}
</style>
<title th:text="${title}"></title>
<!-- Bootstrap -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" th:text="${title}"></a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="dropdown">
						<a th:inline="text" href="#"
							role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i>你好，[[${name}]]<i class="caret"></i>

						</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><a tabindex="-1" href="/logout">退出登录</a></li>
							</ul></li>
					</ul>
					<ul class="nav">
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3" id="sidebar">
				<ul id="ul_left" class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                    </ul>
			</div>

			<!--/span-->
			<div class="span9" id="content">
				<div class="row-fluid">
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>查询成功！</h4>
						记录已全部显示...
					</div>
				</div>
				<div class="row-fluid"></div>
				<div class="row-fluid">
					<div class="span12">
						<!-- block -->
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<div class="muted pull-left">用户管理</div>
								<div class="pull-right">
									<span th:text="${count0}" class="badge badge-info">10</span>

								</div>
							</div>
							<div class="block-content collapse in">
								<table class="table table-hover .table-condensed"
									style="word-break: break-all; word-wrap: break-all;">
									<thead>
										<tr>
											<th>账号</th>
											<th>密码</th>
											<th>电话</th>
											<th>地址</th>
											<th class="span4"></th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="user:${list}">
											<td th:text="${user.userName}"></td>
											<td th:text="${user.pwd}"></td>
											<td th:text="${user.tel}"></td>
											<td th:text="${user.addr}"></td>
											<td>
												<button type="button"
													class="btn btn-link"
													th:onclick="'javascript:a_delete(\''+${user.id}+'\')'">删除</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /block -->
					</div>
				</div>
				<div class="row-fluid"></div>
			</div>
		</div>
		<hr />
	</div>
	<!--/.fluid-container-->
	<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
        $(document).ready(function() {
        	$("#ul_left").html([[${left}]])
		});
		function a_delete(id) {
			if (confirm("是否确认删除")) {
				$.post("/page/user/detele/" + id, function(obj) {
					if (obj.code == 0) {
						location.reload();
					} else {
						alert("删除失败");
					}
				});
			}
		}
	</script>
</body>

</html>